.countryicon-sprite.iconset-shiny {
  width: 16px; height: 11px;
  margin: 0; padding: 0;
  background-image: url('images/shiny-sprite.png');
  display:inline-block;
}
.countryicon-sprite.iconset-shiny.countrycode-ad { background-position: 0 -10px; }
.countryicon-sprite.iconset-shiny.countrycode-ae { background-position: 0 -31px; }
.countryicon-sprite.iconset-shiny.countrycode-af { background-position: 0 -52px; }
.countryicon-sprite.iconset-shiny.countrycode-ag { background-position: 0 -73px; }
.countryicon-sprite.iconset-shiny.countrycode-ai { background-position: 0 -94px; }
.countryicon-sprite.iconset-shiny.countrycode-al { background-position: 0 -115px; }
.countryicon-sprite.iconset-shiny.countrycode-am { background-position: 0 -136px; }
.countryicon-sprite.iconset-shiny.countrycode-an { background-position: 0 -157px; }
.countryicon-sprite.iconset-shiny.countrycode-ao { background-position: 0 -178px; }
.countryicon-sprite.iconset-shiny.countrycode-ar { background-position: 0 -199px; }
.countryicon-sprite.iconset-shiny.countrycode-as { background-position: 0 -220px; }
.countryicon-sprite.iconset-shiny.countrycode-at { background-position: 0 -241px; }
.countryicon-sprite.iconset-shiny.countrycode-au { background-position: 0 -262px; }
.countryicon-sprite.iconset-shiny.countrycode-aw { background-position: 0 -283px; }
.countryicon-sprite.iconset-shiny.countrycode-ax { background-position: 0 -304px; }
.countryicon-sprite.iconset-shiny.countrycode-az { background-position: 0 -325px; }
.countryicon-sprite.iconset-shiny.countrycode-ba { background-position: 0 -346px; }
.countryicon-sprite.iconset-shiny.countrycode-bb { background-position: 0 -367px; }
.countryicon-sprite.iconset-shiny.countrycode-bd { background-position: 0 -388px; }
.countryicon-sprite.iconset-shiny.countrycode-be { background-position: 0 -409px; }
.countryicon-sprite.iconset-shiny.countrycode-bf { background-position: 0 -430px; }
.countryicon-sprite.iconset-shiny.countrycode-bg { background-position: 0 -451px; }
.countryicon-sprite.iconset-shiny.countrycode-bh { background-position: 0 -472px; }
.countryicon-sprite.iconset-shiny.countrycode-bi { background-position: 0 -493px; }
.countryicon-sprite.iconset-shiny.countrycode-bj { background-position: 0 -514px; }
.countryicon-sprite.iconset-shiny.countrycode-bm { background-position: 0 -535px; }
.countryicon-sprite.iconset-shiny.countrycode-bn { background-position: 0 -556px; }
.countryicon-sprite.iconset-shiny.countrycode-bo { background-position: 0 -577px; }
.countryicon-sprite.iconset-shiny.countrycode-br { background-position: 0 -598px; }
.countryicon-sprite.iconset-shiny.countrycode-bs { background-position: 0 -619px; }
.countryicon-sprite.iconset-shiny.countrycode-bt { background-position: 0 -640px; }
.countryicon-sprite.iconset-shiny.countrycode-bv { background-position: 0 -661px; }
.countryicon-sprite.iconset-shiny.countrycode-bw { background-position: 0 -682px; }
.countryicon-sprite.iconset-shiny.countrycode-by { background-position: 0 -703px; }
.countryicon-sprite.iconset-shiny.countrycode-bz { background-position: 0 -724px; }
.countryicon-sprite.iconset-shiny.countrycode-ca { background-position: 0 -745px; }
.countryicon-sprite.iconset-shiny.countrycode-catalonia { background-position: 0 -766px; }
.countryicon-sprite.iconset-shiny.countrycode-cc { background-position: 0 -787px; }
.countryicon-sprite.iconset-shiny.countrycode-cd { background-position: 0 -808px; }
.countryicon-sprite.iconset-shiny.countrycode-cf { background-position: 0 -829px; }
.countryicon-sprite.iconset-shiny.countrycode-cg { background-position: 0 -850px; }
.countryicon-sprite.iconset-shiny.countrycode-ch { background-position: 0 -871px; }
.countryicon-sprite.iconset-shiny.countrycode-ci { background-position: 0 -892px; }
.countryicon-sprite.iconset-shiny.countrycode-ck { background-position: 0 -913px; }
.countryicon-sprite.iconset-shiny.countrycode-cl { background-position: 0 -934px; }
.countryicon-sprite.iconset-shiny.countrycode-cm { background-position: 0 -955px; }
.countryicon-sprite.iconset-shiny.countrycode-cn { background-position: 0 -976px; }
.countryicon-sprite.iconset-shiny.countrycode-co { background-position: 0 -997px; }
.countryicon-sprite.iconset-shiny.countrycode-cr { background-position: 0 -1018px; }
.countryicon-sprite.iconset-shiny.countrycode-cs { background-position: 0 -1039px; }
.countryicon-sprite.iconset-shiny.countrycode-cu { background-position: 0 -1060px; }
.countryicon-sprite.iconset-shiny.countrycode-cv { background-position: 0 -1081px; }
.countryicon-sprite.iconset-shiny.countrycode-cx { background-position: 0 -1102px; }
.countryicon-sprite.iconset-shiny.countrycode-cy { background-position: 0 -1123px; }
.countryicon-sprite.iconset-shiny.countrycode-cz { background-position: 0 -1144px; }
.countryicon-sprite.iconset-shiny.countrycode-de { background-position: 0 -1165px; }
.countryicon-sprite.iconset-shiny.countrycode-dj { background-position: 0 -1186px; }
.countryicon-sprite.iconset-shiny.countrycode-dk { background-position: 0 -1207px; }
.countryicon-sprite.iconset-shiny.countrycode-dm { background-position: 0 -1228px; }
.countryicon-sprite.iconset-shiny.countrycode-do { background-position: 0 -1249px; }
.countryicon-sprite.iconset-shiny.countrycode-dz { background-position: 0 -1270px; }
.countryicon-sprite.iconset-shiny.countrycode-ec { background-position: 0 -1291px; }
.countryicon-sprite.iconset-shiny.countrycode-ee { background-position: 0 -1312px; }
.countryicon-sprite.iconset-shiny.countrycode-eg { background-position: 0 -1333px; }
.countryicon-sprite.iconset-shiny.countrycode-eh { background-position: 0 -1354px; }
.countryicon-sprite.iconset-shiny.countrycode-england { background-position: 0 -1375px; }
.countryicon-sprite.iconset-shiny.countrycode-er { background-position: 0 -1396px; }
.countryicon-sprite.iconset-shiny.countrycode-es { background-position: 0 -1417px; }
.countryicon-sprite.iconset-shiny.countrycode-et { background-position: 0 -1438px; }
.countryicon-sprite.iconset-shiny.countrycode-europeanunion { background-position: 0 -1459px; }
.countryicon-sprite.iconset-shiny.countrycode-fam { background-position: 0 -1480px; }
.countryicon-sprite.iconset-shiny.countrycode-fi { background-position: 0 -1501px; }
.countryicon-sprite.iconset-shiny.countrycode-fj { background-position: 0 -1522px; }
.countryicon-sprite.iconset-shiny.countrycode-fk { background-position: 0 -1543px; }
.countryicon-sprite.iconset-shiny.countrycode-fm { background-position: 0 -1564px; }
.countryicon-sprite.iconset-shiny.countrycode-fo { background-position: 0 -1585px; }
.countryicon-sprite.iconset-shiny.countrycode-fr { background-position: 0 -1606px; }
.countryicon-sprite.iconset-shiny.countrycode-ga { background-position: 0 -1627px; }
.countryicon-sprite.iconset-shiny.countrycode-gb { background-position: 0 -1648px; }
.countryicon-sprite.iconset-shiny.countrycode-gd { background-position: 0 -1669px; }
.countryicon-sprite.iconset-shiny.countrycode-ge { background-position: 0 -1690px; }
.countryicon-sprite.iconset-shiny.countrycode-gf { background-position: 0 -1711px; }
.countryicon-sprite.iconset-shiny.countrycode-gh { background-position: 0 -1732px; }
.countryicon-sprite.iconset-shiny.countrycode-gi { background-position: 0 -1753px; }
.countryicon-sprite.iconset-shiny.countrycode-gl { background-position: 0 -1774px; }
.countryicon-sprite.iconset-shiny.countrycode-gm { background-position: 0 -1795px; }
.countryicon-sprite.iconset-shiny.countrycode-gn { background-position: 0 -1816px; }
.countryicon-sprite.iconset-shiny.countrycode-gp { background-position: 0 -1837px; }
.countryicon-sprite.iconset-shiny.countrycode-gq { background-position: 0 -1858px; }
.countryicon-sprite.iconset-shiny.countrycode-gr { background-position: 0 -1879px; }
.countryicon-sprite.iconset-shiny.countrycode-gs { background-position: 0 -1900px; }
.countryicon-sprite.iconset-shiny.countrycode-gt { background-position: 0 -1921px; }
.countryicon-sprite.iconset-shiny.countrycode-gu { background-position: 0 -1942px; }
.countryicon-sprite.iconset-shiny.countrycode-gw { background-position: 0 -1963px; }
.countryicon-sprite.iconset-shiny.countrycode-gy { background-position: 0 -1984px; }
.countryicon-sprite.iconset-shiny.countrycode-hk { background-position: -26px -10px; }
.countryicon-sprite.iconset-shiny.countrycode-hm { background-position: -26px -31px; }
.countryicon-sprite.iconset-shiny.countrycode-hn { background-position: -26px -52px; }
.countryicon-sprite.iconset-shiny.countrycode-hr { background-position: -26px -73px; }
.countryicon-sprite.iconset-shiny.countrycode-ht { background-position: -26px -94px; }
.countryicon-sprite.iconset-shiny.countrycode-hu { background-position: -26px -115px; }
.countryicon-sprite.iconset-shiny.countrycode-id { background-position: -26px -136px; }
.countryicon-sprite.iconset-shiny.countrycode-ie { background-position: -26px -157px; }
.countryicon-sprite.iconset-shiny.countrycode-il { background-position: -26px -178px; }
.countryicon-sprite.iconset-shiny.countrycode-in { background-position: -26px -199px; }
.countryicon-sprite.iconset-shiny.countrycode-io { background-position: -26px -220px; }
.countryicon-sprite.iconset-shiny.countrycode-iq { background-position: -26px -241px; }
.countryicon-sprite.iconset-shiny.countrycode-ir { background-position: -26px -262px; }
.countryicon-sprite.iconset-shiny.countrycode-is { background-position: -26px -283px; }
.countryicon-sprite.iconset-shiny.countrycode-it { background-position: -26px -304px; }
.countryicon-sprite.iconset-shiny.countrycode-jm { background-position: -26px -325px; }
.countryicon-sprite.iconset-shiny.countrycode-jo { background-position: -26px -346px; }
.countryicon-sprite.iconset-shiny.countrycode-jp { background-position: -26px -367px; }
.countryicon-sprite.iconset-shiny.countrycode-ke { background-position: -26px -388px; }
.countryicon-sprite.iconset-shiny.countrycode-kg { background-position: -26px -409px; }
.countryicon-sprite.iconset-shiny.countrycode-kh { background-position: -26px -430px; }
.countryicon-sprite.iconset-shiny.countrycode-ki { background-position: -26px -451px; }
.countryicon-sprite.iconset-shiny.countrycode-km { background-position: -26px -472px; }
.countryicon-sprite.iconset-shiny.countrycode-kn { background-position: -26px -493px; }
.countryicon-sprite.iconset-shiny.countrycode-kp { background-position: -26px -514px; }
.countryicon-sprite.iconset-shiny.countrycode-kr { background-position: -26px -535px; }
.countryicon-sprite.iconset-shiny.countrycode-kw { background-position: -26px -556px; }
.countryicon-sprite.iconset-shiny.countrycode-ky { background-position: -26px -577px; }
.countryicon-sprite.iconset-shiny.countrycode-kz { background-position: -26px -598px; }
.countryicon-sprite.iconset-shiny.countrycode-la { background-position: -26px -619px; }
.countryicon-sprite.iconset-shiny.countrycode-lb { background-position: -26px -640px; }
.countryicon-sprite.iconset-shiny.countrycode-lc { background-position: -26px -661px; }
.countryicon-sprite.iconset-shiny.countrycode-li { background-position: -26px -682px; }
.countryicon-sprite.iconset-shiny.countrycode-lk { background-position: -26px -703px; }
.countryicon-sprite.iconset-shiny.countrycode-lr { background-position: -26px -724px; }
.countryicon-sprite.iconset-shiny.countrycode-ls { background-position: -26px -745px; }
.countryicon-sprite.iconset-shiny.countrycode-lt { background-position: -26px -766px; }
.countryicon-sprite.iconset-shiny.countrycode-lu { background-position: -26px -787px; }
.countryicon-sprite.iconset-shiny.countrycode-lv { background-position: -26px -808px; }
.countryicon-sprite.iconset-shiny.countrycode-ly { background-position: -26px -829px; }
.countryicon-sprite.iconset-shiny.countrycode-ma { background-position: -26px -850px; }
.countryicon-sprite.iconset-shiny.countrycode-mc { background-position: -26px -871px; }
.countryicon-sprite.iconset-shiny.countrycode-md { background-position: -26px -892px; }
.countryicon-sprite.iconset-shiny.countrycode-me { background-position: -26px -913px; }
.countryicon-sprite.iconset-shiny.countrycode-mg { background-position: -26px -935px; }
.countryicon-sprite.iconset-shiny.countrycode-mh { background-position: -26px -956px; }
.countryicon-sprite.iconset-shiny.countrycode-mk { background-position: -26px -977px; }
.countryicon-sprite.iconset-shiny.countrycode-ml { background-position: -26px -998px; }
.countryicon-sprite.iconset-shiny.countrycode-mm { background-position: -26px -1019px; }
.countryicon-sprite.iconset-shiny.countrycode-mn { background-position: -26px -1040px; }
.countryicon-sprite.iconset-shiny.countrycode-mo { background-position: -26px -1061px; }
.countryicon-sprite.iconset-shiny.countrycode-mp { background-position: -26px -1082px; }
.countryicon-sprite.iconset-shiny.countrycode-mq { background-position: -26px -1103px; }
.countryicon-sprite.iconset-shiny.countrycode-mr { background-position: -26px -1124px; }
.countryicon-sprite.iconset-shiny.countrycode-ms { background-position: -26px -1145px; }
.countryicon-sprite.iconset-shiny.countrycode-mt { background-position: -26px -1166px; }
.countryicon-sprite.iconset-shiny.countrycode-mu { background-position: -26px -1187px; }
.countryicon-sprite.iconset-shiny.countrycode-mv { background-position: -26px -1208px; }
.countryicon-sprite.iconset-shiny.countrycode-mw { background-position: -26px -1229px; }
.countryicon-sprite.iconset-shiny.countrycode-mx { background-position: -26px -1250px; }
.countryicon-sprite.iconset-shiny.countrycode-my { background-position: -26px -1271px; }
.countryicon-sprite.iconset-shiny.countrycode-mz { background-position: -26px -1292px; }
.countryicon-sprite.iconset-shiny.countrycode-na { background-position: -26px -1313px; }
.countryicon-sprite.iconset-shiny.countrycode-nc { background-position: -26px -1334px; }
.countryicon-sprite.iconset-shiny.countrycode-ne { background-position: -26px -1355px; }
.countryicon-sprite.iconset-shiny.countrycode-nf { background-position: -26px -1376px; }
.countryicon-sprite.iconset-shiny.countrycode-ng { background-position: -26px -1397px; }
.countryicon-sprite.iconset-shiny.countrycode-ni { background-position: -26px -1418px; }
.countryicon-sprite.iconset-shiny.countrycode-nl { background-position: -26px -1439px; }
.countryicon-sprite.iconset-shiny.countrycode-no { background-position: -26px -1460px; }
.countryicon-sprite.iconset-shiny.countrycode-np { background-position: -26px -1481px; }
.countryicon-sprite.iconset-shiny.countrycode-nr { background-position: -26px -1502px; }
.countryicon-sprite.iconset-shiny.countrycode-nu { background-position: -26px -1523px; }
.countryicon-sprite.iconset-shiny.countrycode-nz { background-position: -26px -1544px; }
.countryicon-sprite.iconset-shiny.countrycode-om { background-position: -26px -1565px; }
.countryicon-sprite.iconset-shiny.countrycode-pa { background-position: -26px -1586px; }
.countryicon-sprite.iconset-shiny.countrycode-pe { background-position: -26px -1607px; }
.countryicon-sprite.iconset-shiny.countrycode-pf { background-position: -26px -1628px; }
.countryicon-sprite.iconset-shiny.countrycode-pg { background-position: -26px -1649px; }
.countryicon-sprite.iconset-shiny.countrycode-ph { background-position: -26px -1670px; }
.countryicon-sprite.iconset-shiny.countrycode-pk { background-position: -26px -1691px; }
.countryicon-sprite.iconset-shiny.countrycode-pl { background-position: -26px -1712px; }
.countryicon-sprite.iconset-shiny.countrycode-pm { background-position: -26px -1733px; }
.countryicon-sprite.iconset-shiny.countrycode-pn { background-position: -26px -1754px; }
.countryicon-sprite.iconset-shiny.countrycode-pr { background-position: -26px -1775px; }
.countryicon-sprite.iconset-shiny.countrycode-ps { background-position: -26px -1796px; }
.countryicon-sprite.iconset-shiny.countrycode-pt { background-position: -26px -1817px; }
.countryicon-sprite.iconset-shiny.countrycode-pw { background-position: -26px -1838px; }
.countryicon-sprite.iconset-shiny.countrycode-py { background-position: -26px -1859px; }
.countryicon-sprite.iconset-shiny.countrycode-qa { background-position: -26px -1880px; }
.countryicon-sprite.iconset-shiny.countrycode-re { background-position: -26px -1901px; }
.countryicon-sprite.iconset-shiny.countrycode-ro { background-position: -26px -1922px; }
.countryicon-sprite.iconset-shiny.countrycode-rs { background-position: -26px -1943px; }
.countryicon-sprite.iconset-shiny.countrycode-ru { background-position: -26px -1964px; }
.countryicon-sprite.iconset-shiny.countrycode-rw { background-position: -26px -1985px; }
.countryicon-sprite.iconset-shiny.countrycode-sa { background-position: -52px -10px; }
.countryicon-sprite.iconset-shiny.countrycode-sb { background-position: -52px -31px; }
.countryicon-sprite.iconset-shiny.countrycode-sc { background-position: -52px -52px; }
.countryicon-sprite.iconset-shiny.countrycode-scotland { background-position: -52px -73px; }
.countryicon-sprite.iconset-shiny.countrycode-sd { background-position: -52px -94px; }
.countryicon-sprite.iconset-shiny.countrycode-se { background-position: -52px -115px; }
.countryicon-sprite.iconset-shiny.countrycode-sg { background-position: -52px -136px; }
.countryicon-sprite.iconset-shiny.countrycode-sh { background-position: -52px -157px; }
.countryicon-sprite.iconset-shiny.countrycode-si { background-position: -52px -178px; }
.countryicon-sprite.iconset-shiny.countrycode-sj { background-position: -52px -199px; }
.countryicon-sprite.iconset-shiny.countrycode-sk { background-position: -52px -220px; }
.countryicon-sprite.iconset-shiny.countrycode-sl { background-position: -52px -241px; }
.countryicon-sprite.iconset-shiny.countrycode-sm { background-position: -52px -262px; }
.countryicon-sprite.iconset-shiny.countrycode-sn { background-position: -52px -283px; }
.countryicon-sprite.iconset-shiny.countrycode-so { background-position: -52px -304px; }
.countryicon-sprite.iconset-shiny.countrycode-sr { background-position: -52px -325px; }
.countryicon-sprite.iconset-shiny.countrycode-st { background-position: -52px -346px; }
.countryicon-sprite.iconset-shiny.countrycode-sv { background-position: -52px -367px; }
.countryicon-sprite.iconset-shiny.countrycode-sy { background-position: -52px -388px; }
.countryicon-sprite.iconset-shiny.countrycode-sz { background-position: -52px -409px; }
.countryicon-sprite.iconset-shiny.countrycode-tc { background-position: -52px -430px; }
.countryicon-sprite.iconset-shiny.countrycode-td { background-position: -52px -451px; }
.countryicon-sprite.iconset-shiny.countrycode-tf { background-position: -52px -472px; }
.countryicon-sprite.iconset-shiny.countrycode-tg { background-position: -52px -493px; }
.countryicon-sprite.iconset-shiny.countrycode-th { background-position: -52px -514px; }
.countryicon-sprite.iconset-shiny.countrycode-tj { background-position: -52px -535px; }
.countryicon-sprite.iconset-shiny.countrycode-tk { background-position: -52px -556px; }
.countryicon-sprite.iconset-shiny.countrycode-tl { background-position: -52px -577px; }
.countryicon-sprite.iconset-shiny.countrycode-tm { background-position: -52px -598px; }
.countryicon-sprite.iconset-shiny.countrycode-tn { background-position: -52px -619px; }
.countryicon-sprite.iconset-shiny.countrycode-to { background-position: -52px -640px; }
.countryicon-sprite.iconset-shiny.countrycode-tr { background-position: -52px -661px; }
.countryicon-sprite.iconset-shiny.countrycode-tt { background-position: -52px -682px; }
.countryicon-sprite.iconset-shiny.countrycode-tv { background-position: -52px -703px; }
.countryicon-sprite.iconset-shiny.countrycode-tw { background-position: -52px -724px; }
.countryicon-sprite.iconset-shiny.countrycode-tz { background-position: -52px -745px; }
.countryicon-sprite.iconset-shiny.countrycode-ua { background-position: -52px -766px; }
.countryicon-sprite.iconset-shiny.countrycode-ug { background-position: -52px -787px; }
.countryicon-sprite.iconset-shiny.countrycode-um { background-position: -52px -808px; }
.countryicon-sprite.iconset-shiny.countrycode-us { background-position: -52px -829px; }
.countryicon-sprite.iconset-shiny.countrycode-uy { background-position: -52px -850px; }
.countryicon-sprite.iconset-shiny.countrycode-uz { background-position: -52px -871px; }
.countryicon-sprite.iconset-shiny.countrycode-va { background-position: -52px -892px; }
.countryicon-sprite.iconset-shiny.countrycode-vc { background-position: -52px -913px; }
.countryicon-sprite.iconset-shiny.countrycode-ve { background-position: -52px -934px; }
.countryicon-sprite.iconset-shiny.countrycode-vg { background-position: -52px -955px; }
.countryicon-sprite.iconset-shiny.countrycode-vi { background-position: -52px -976px; }
.countryicon-sprite.iconset-shiny.countrycode-vn { background-position: -52px -997px; }
.countryicon-sprite.iconset-shiny.countrycode-vu { background-position: -52px -1018px; }
.countryicon-sprite.iconset-shiny.countrycode-wales { background-position: -52px -1039px; }
.countryicon-sprite.iconset-shiny.countrycode-wf { background-position: -52px -1060px; }
.countryicon-sprite.iconset-shiny.countrycode-ws { background-position: -52px -1081px; }
.countryicon-sprite.iconset-shiny.countrycode-ye { background-position: -52px -1102px; }
.countryicon-sprite.iconset-shiny.countrycode-yt { background-position: -52px -1123px; }
.countryicon-sprite.iconset-shiny.countrycode-za { background-position: -52px -1144px; }
.countryicon-sprite.iconset-shiny.countrycode-zm { background-position: -52px -1165px; }
.countryicon-sprite.iconset-shiny.countrycode-zw { background-position: -52px -1186px; }
