/* 
    Document   : at_entityreference_geowidget
    Created on : 05.03.2013, 9:42:31
    Author     : gease
    Description:
        Purpose of the stylesheet follows.
*/

.nid, .views-field-nid { 
  display: none;
}

