.pane-activity > .pane-inner,
.front_live_events > .pane-inner { margin: 0 0 40px;}
.front_live_events h2.pane-title { position: relative; z-index: 10;}
.front_live_events h2 a { float: right; margin: 3px -2px 0 0; position: relative; width: 67px; text-shadow: none; text-decoration: none;}
.front_live_events h2 a:hover { background: rgba(0,174,239, 1);}
.front_live_events h2 a:active { background: rgba(0,129,239, 1); border-color: #007ee7;}
.front_live_events .view-content { margin-left: -5px; height: 280px; overflow: hidden;
  -moz-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
}
.front_live_events .view-content .view-content { margin-left: 0; height: auto; overflow: visible;}
.front_live_events .views-row { float: left; width: 230px; height: 270px; margin-left: 5px; position: relative; margin-top: 10px;}
.front_live_events .views-row-once { width: 700px;}
.front_live_events .views-row-twice { width: 347px;}
.front_live_events .views-row-twice + .views-row-twice { margin-left: 6px;}
.front_live_events .views-row .views-row { float: none; width: auto; height: auto; margin: 0;}
.front_live_events .views-field-field-city,
.front_live_events .views-field-view,
.front_live_events .dayblog { position: absolute; top: 0; left: 0; width: 100%; height: 80px; background: rgba(17, 36, 51, .5); z-index: 10;}
.front_live_events .views-field-view { z-index: 10;}
.front_live_events .views-field-field-city .field-content { margin: 0 10px;}
.front_live_events .contest_head { vertical-align: middle; max-width: 100%; display: inline-block; margin: 0; margin-top: 4px;}
.front_live_events .valign { width: 1px; overflow: hidden; height: 80px; vertical-align: middle; margin-right: -1px; display: inline-block;}
.front_live_events .contest_title { color: #ffffff; font: bold 14px/20px Arial, Helvetica, sans-serif; display: inline-block;}
.front_live_events .contest_title a { color: #ffffff; text-decoration: none;}
.front_live_events .contest_title a:hover { text-decoration: underline;}
.front_live_events .contest_place { color: #d5e4ed; font: 12px/14px Verdana, Geneva, sans-serif; background: url(../images/next_events.png) no-repeat -1000px -70px; position: relative; top: -4px; display: inline-block; padding: 1px 0 1px 17px;}


.front_live_events .views-field-view { z-index: 100;}
.front_live_events .views-field-day-pg-race-play-link { z-index: 10; background: none;}
.front_live_events .views-field-day-pg-race-play-link,
.front_live_events .race-links { height: 54px;}
.front_live_events .view-event-day .views-field.title { display: none; }
.front_live_events .view-event-day .views-row,
.front_live_events .views-field-view .views-row { display: block; padding: 6px 5px 0; height: 54px; }
.front_live_events .view-event-day .views-row { height: 52px; overflow: visible;}
.front_live_events .views-field-day-pg-race-play-link .field-content .field-content,
.front_live_events .views-field-day-pg-race-play-link .views-field-field-pg-race-tracks { display: none;}
.front_live_events .dropdown_list { position: absolute; bottom: 110px; left: 0; right: 0; margin: 0 auto;  width: 140px;}
.front_live_events .dropdown_list .views-label {  height: 20px; color: #828819; font: bold 18px/20px Arial, Helvetica, sans-serif; background: #ced828; text-align: center; padding: 4px 0 6px; text-decoration: none; border: none; width: 100%; cursor: pointer;}
.front_live_events .dropdown_list .field-content { border: none; background: #ced828; color: #828819;}
.front_live_events .dropdown_list .field-content a { font-weight: normal; text-decoration: underline;}
.front_live_events .dropdown_list .field-content a:hover { text-decoration: none;}
.front_live_events .dropdown_list .race-links { height: auto;}
.front_live_events .race-replay .views-label,
.front_live_events .race-replay .field-content { color: #8f733b; background: #fbd72c}
.front_live_events .views-field-day-pg-race-play-link .help-text,
.front_live_events .race-links .help-text { font: 12px/15px Verdana, Geneva, sans-serif; color: #d5e4ed;}
.front_live_events .starting .race-online,
.front_live_events .awaiting .race-online,
.front_live_events .is_live .race-online,
.front_live_events .help-text.replay { color: #c4cd26; font: bold 14px/16px Arial, Helvetica, sans-serif; display: block; padding-bottom: 3px; text-align: left;}
.front_live_events .awaiting .race-online,
.front_live_events .starting .race-online,
.front_live_events .replay .help-text { color: #fbd72c;}
.front_live_events .time { font: bold 24px/24px Arial, Helvetica, sans-serif; display: block; text-align: left; padding-top: 5px;}
.front_live_events .awaiting .time { color: #fbd72c}
.front_live_events .replay .time { color: #fbd72c}

.front_live_events .day-blog p { margin: 0; padding: 3px 0 0;}
.front_live_events .day-blog .views-field.title,
.front_live_events .views-field-title-1 { display: none;}
.front_live_events .race-block-activated .views-field-title-1,
.front_live_events .no-dayblog-text .views-field-title-1 { display: block;}
.front_live_events .day-blog a,
.front_live_events .day-blog .title,
.front_live_events .day-blog .views-field-title-1 a,
.front_live_events .views-field-dates,
.front_live_events .views-field-dates a { font: bold 14px/16px Arial, Helvetica, sans-serif; color: #ffffff; text-decoration: none;}
/*.front_live_events .day-blog a:hover,*/
.front_live_events .no-blog { text-align: center;}
.front_live_events .no-blog .title { font: bold 24px/46px Arial, Helvetica, sans-serif;}
.front_live_events .no-blog .title span { font-size: 18px}
.front_live_events .views-field-dates a:hover { text-decoration: underline;}
.front_live_events .views-field-field-logo { display: none; position: absolute; top: 80px; left: 0; background: url(../images/logo_bgr.png) no-repeat 50% 0; width: 100%; text-align: center;}
.front_live_events .views-row:hover .views-field-field-logo { display: block;}

.front_live_events .views-field-nothing { position: relative; z-index: 100; height: 100%;}
.front_live_events .view-display-id-live_events_pane .views-field-nothing { height: 210px; z-index: 20;}
.front_live_events .views-field-nothing a { display: block; width: 100%; height: 100%; overflow: hidden; text-indent: -9999px; position: absolute; top: 0; left: 0;}

.front_live_events .view_confirmed_pilots { float: left; max-width: 50%; color: #a3b9cc; font: 12px/10px Verdana, Geneva, sans-serif; padding-top: 3px;}
.front_live_events .view_confirmed_pilots_1 { color: #c8d40e; margin-right: 9px;}
.front_live_events .view_confirmed_pilots .es-label { margin-left: 5px; padding-top: 4px; float: left; overflow: hidden; max-width: 51px;}
.i18n-en .front_live_events .view_confirmed_pilots .es-label { max-width: 55px;}
.front_live_events .views-row-once .view_confirmed_pilots .es-label,
.front_live_events .views-row-twice .view_confirmed_pilots .es-label { max-width: auto;}
.front_live_events .view_confirmed_pilots .es-label span { font-size: 10px; color: #788896; word-spacing: -2px; letter-spacing: -1px; white-space: nowrap;}
.front_live_events .view_confirmed_pilots_1 .es-label span { color: #959e0a}
.front_live_events .view_confirmed_pilots .es-count { text-align: right; float: left; font: bold 26px/26px Verdana, Geneva, sans-serif; letter-spacing: -2px}

.front_live_events .country_title { float: left;}
.front_live_events .change_location { float: left; margin: 0 0 0 10px; position: relative;}
.front_live_events .change_location_title { color: rgba(82, 92, 102, .5); font: 14px/16px Arial, Helvetica, sans-serif; text-decoration: underline; cursor: pointer;}
.front_live_events .change_location:hover .change_location_title { text-decoration: none;}
.front_live_events .change_location_title:before { content: "("}
.front_live_events .change_location_title:after { content: ")"}
.front_live_events .change_location ul { margin: 0; padding: 0; position: absolute; top: 100%; left: 0; display: none;}
.front_live_events .change_location:hover ul { display: block;}
.front_live_events .change_location ul li { margin: 0; padding: 0; list-style: none; list-style-image: none;}
.front_live_events .change_location a { float: none;}

.front_live_events .views-field-day-pg-race-play-link .dayblog-text {display:block;}

.front_live_events .race-block-activated .file {display:inline;}
.front_live_events .race-block-activated .time {display:block !important;}
.front_live_events .race-block-activated .help-text {display:block;}
.front_live_events .race-block-activated .dayblog-text {display:none;}






/* -- temporary styles -- */

.front_live_events .views-field-field-image { position: absolute; top: 0; }
.front_live_events .views-field-field-image img { vertical-align: middle;}
.front_live_events .views-field-nothing-extended { position: absolute; bottom: 0; background: rgba(17, 36, 51, .5); height: 60px; z-index: 100; }

.front_live_events .views-field-nothing-extended { width: 100%; }
.front_live_events .views-field-nothing-extended a { text-decoration: none; }

.front_live_events .is_live .title,
.front_live_events .awaiting .title,
.front_live_events .starting .title { display: block; float: left; width: 49%; text-align: center;}
.front_live_events .no-blog .task-timer { display: block; float: right; width: 49%;}

.front_live_events .views-field-watch-task { z-index: 120; text-align: center; width: 100%; top: 140px; position: absolute; }
.front_live_events .watch-links > span { display: inline-block; vertical-align: top; position: relative; margin: 0 1%;}
.front_live_events .watch-links span > a,
.front_live_events .watch-links .links-content { display: inline-block;  background: #ced828; font-size: 18px; line-height: 30px; color: #828819; height: 30px; padding: 0 15px; text-decoration: none;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

}
.front_live_events .watch-links .links-content { width: 100%; max-width: 100%; padding: 0; display: none; height: auto; font-size: 14px; line-height: 15px; text-align: left; overflow: hidden; position: absolute; top: 100%; left: 0; margin-top: -3px;

  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;

}
.front_live_events .watch-links ul { margin: 0; padding: 0 9px 12px;}
.front_live_events .watch-links ul li { margin: 0; padding: 3px 0; list-style: none; list-style-image: none; overflow: hidden;}
.front_live_events .watch-links ul li:first-child { padding-top: 10px;}
.front_live_events .links-content a { color: #ffffff; text-decoration: none; font-weight: normal;}

.front_live_events .watch-links .task-replay span > a,
.front_live_events .watch-links .task-replay .links-content { background: #eeaf02; color: #9a6d01}

.front_live_events .watch-links .task-results span > a,
.front_live_events .watch-links .task-results .links-content { background: #aec1d2; color: #4f606d}

.front_live_events .task-result { padding: 10px 5px 0; display: inline-block;}
.front_live_events .task-result + .task-result { padding-top: 0;}

.task-results .links-content { display: none; }
.task-replay .links-content { display: none; }
.task-live .links-content { display: none; }

.watch-links.awaiting .task-live,
.watch-links.awaiting .task-results,
.watch-links.awaiting .task-replay,
.watch-links.awaiting .task-leaderboard,

.watch-links.starting .task-results,
.watch-links.starting .task-replay,
.watch-links.starting .task-leaderboard,

.watch-links.is_live .task-results,
.watch-links.is_live .task-replay,
.watch-links.is_live .task-leaderboard,

.watch-links.finished .task-live { display:none; }

.watch-links .task-live,
.watch-links .task-leaderboard { display:none; }

.front_live_events .dayblog-hidden { display:none; }

/* <- temporary styles -> */

.front_live_events .day-blog {  padding: 6px 10px 0; height: 54px; font: 12px/15px Verdana, Geneva, sans-serif; color: #d5e4ed; overflow: hidden; display: block;}
.front_live_events .day-blog-wrapper { overflow: hidden; height: 35px; display: block;}

.front_live_events .views-row .views-row-once,
.front_live_events .views-row .views-row-twice { width: auto;}