.openlayers_behavior_geofield_button_panel {
  position: absolute;
  top: 5px;
  right: 5px;
}

.openlayers_behavior_geofield_button_panel .openlayers_behavior_geofield_button {
/*  background:url(openlayers_behavior_fullscreen.png);*/
  background: #FFF;
  margin: 2px;
}
 
.openlayers_map_geofield .openlayers_behavior_geofield_button {
  background-position:20px 0;
}
